.lead__title{
    font-size: 6em;
    line-height: 93px;
    text-align: center;
    max-width: 782px;
    margin: 0px auto;
}
/*
Нужно исправить:
Удалите фиксированную высоту
*/

@media all and (max-width: 767px){
    .lead__title{
        font-size: 2.5em;
        line-height: 44px;
    }
}