@import url(./__author/comment__author.css);
@import url(./__image/comment__image.css);
@import url(./__quote/comment__quote.css);

.comment{
    max-width: 382px;
    width: 32%;
}

@media all and (max-width: 768px){
    .comment{
        max-width: 382px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}