.place__paragraph{
    max-width: 484px;
    font-size: 1.13em;
    line-height: 1.9em;
}

.place__paragraph:nth-child(even){
    padding-top: 36px;
}

@media all and (max-width: 768px){
    .place__paragraph{
        max-width: 400px;
        font-size: 1em;
        line-height: 1.8em;
    }
    .place__paragraph:nth-child(even){
        padding-top: 24px;
    }
}

